body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E9EFF1;
}

.inputErrorFound {
    border: 2px solid #B5131A;
}

#hintBox {
    margin: 0.5rem;
}

.lowerBoundsDiv, .histogramDiv {
    display: flex;
}

table {
    flex-grow: 1;
    margin: 1rem;
}

div[name="histBar"] {
}

output[name="alertMsg"], h3 {
    color: #B5131A;
    text-align: left;
}

.hiddenAlertMsg {
    display: none;
}

#mainArea {
    flex-grow: 1;
    display: flex;
    background-color: #FFFFFF;
}

.mainContainer {
    margin: 0;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* flip to top-down flex display on smaller/mobile screens <= 500px wide */
@media (max-width: 550px) {
    .mainContainer {
        flex-direction: column;
    }
  }

.leftCol {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.lowerBoundsDiv {
    margin: 0.5rem;
    flex-grow: 1;
    background-color: #E9EFF1;
}

.rightCol {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.histogramDiv, .inputBoxDiv {
    flex-grow: 1;
    background-color: #E9EFF1;
    /* #A6192E */
    margin: 0.5rem;
}

.innerInputDiv {
    display: flex;
    flex-direction: row;
}

#newGradeInputLabel, #newGradeInputBox {
    margin: 1rem;
}